h1{
    color: rgba(192, 17, 17, 0.699);
}
h2{
    color: rgba(18, 214, 18, 0.548);
}
.box{
    height: 300px;
    width: 300px;
    padding: 20px;
    margin: 50px;
    border: 10px solid rgb(22, 147, 204);

}

.bio{
    text-align: center;
    font-size: 20px;
    color: rgb(221, 13, 186);
}